name: gist
on: 
  workflow_run:
    workflows: [Waka Readme]
    types: 
       - completed
  workflow_dispatch:
jobs: 
  write-gist:
    runs-on: ubuntu-latest
    steps:
      - name: copy code
        uses: actions/checkout@v2
      - name: test-cd
        run: | 
            ls
    
