name: gist
on:
  workflow_run:
    workflows: [Waka Readme]
    types: 
       - completed
  workflow_dispatch:
  push:
    branches: [ "main" ]
jobs: 
  write-gist:
    runs-on: ubuntu-latest
    steps:
      - name: clone code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: make env
        run: | 
            cd service-git
            touch .env
            echo TOKEN_ACCESS=${{secrets.TOKEN_GIT}} >> .env
      - name: Set up Node.js
        uses: actions/setup-node@v5
        with: 
          node-version: 20.x
      - name: Install pnpm
        run: npm install -g pnpm@10.15.1
      - name: Install dependencies
        run: |
          cd service-git
          pnpm install
      - name: run the programe
        run: |
          cd service-git
          pnpm start
        
    
